.MovieCreator{
  width: 30%;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #888;
  padding: 5px ;
  text-align: center;
  font-size: 1.2em;
}

.input{
  width: 75%;
  height: 20px;
  font-size: 1em;
}

#AddMovieButton{
  width: 65px;
}
